body {
  background-image: url("http://www.mariacenoura.pt/ptpictures/f/28/283147_gif-wallpaper.gif");
  background-color: #cccccc;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
 }